# Redirection générale : si le fichier demandé n'existe pas, redirige vers index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

RewriteEngine On
RewriteRule ^https://www.cleservice.com/2-15-cle-ABUS-xp-2-reproduction-cle.html/?$ /produit/ABUS/Cl%C3%A9-Abus-XP-2$[R=301,L]
